In [1]:
import pandas as pd

area = "DK1"

# Load the provided CSV file
file_path = f'Data/{area}spot.csv'

# Load the CSV into a DataFrame
spot_price = pd.read_csv(file_path, delimiter=';')

spot_price

                HourUTC            HourDK PriceArea SpotPriceDKK SpotPriceEUR
0      2024-09-05 21:00  2024-09-05 23:00       DK1   229,850006    30,809999
1      2024-09-05 20:00  2024-09-05 22:00       DK1   261,040009    34,990002
2      2024-09-05 19:00  2024-09-05 21:00       DK1   297,820007    39,919998
3      2024-09-05 18:00  2024-09-05 20:00       DK1   340,489990    45,639999
4      2024-09-05 17:00  2024-09-05 19:00       DK1   380,480011    51,000000
...                 ...               ...       ...          ...          ...
93618  2014-01-01 03:00  2014-01-01 04:00       DK1    86,970001    11,660000
93619  2014-01-01 02:00  2014-01-01 03:00       DK1    87,269997    11,700000
93620  2014-01-01 01:00  2014-01-01 02:00       DK1    90,180000    12,090000
93621  2014-01-01 00:00  2014-01-01 01:00       DK1    96,669998    12,960000
93622  2013-12-31 23:00  2014-01-01 00:00       DK1   113,010002    15,150000

[93623 rows x 5 columns]